<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOW Awards Portal - Home</title>
</head>
<body>
    <h1>Westpac Reconizes Outstanding Women in Papua New Guinea</h1>
    <!-- Output query results for all recipients in the database -->
    <% for(recipient of recipients) { %>
        <ul>
            <li><img src="<%= recipient.profile_photo %>" alt="" height="100"></li>
            <li><a href="/recipients/<%= recipient.id %>"><%= recipient.first_name %> <%= recipient.last_name %></a></li>
            <li><%= recipient.sponsor %> <%= recipient.award_category %></li>
            <li><%= recipient.year %></li>
        </ul>
    <% } %>
</body>
</html>