<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOW Awards Portal <%= recipient.first_name %> <%= recipient.last_name %></title>
</head>
<body>
    <h1><%= recipient.first_name %> <%= recipient.last_name %></h1>
    <ul>
        <li><img src="../<%= recipient.profile_photo %>" alt="" height="100"></li>
        <li><%= recipient.profile_description %></li>
        <li><%= recipient.sponsor %> <%= recipient.award_category %></li>
        <li><%= recipient.year %></li>
    </ul>
    <a href="/recipients">Back</a>
</body>
</html>